<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>
<center>
    <h1> HOME PAGE </h1>
    <h2> Welcome to TODO !! </h2>
    <P1> TODO is a website that allows you to organize all the things you need to do in To Do lists. Press on signup to create an account, then log in to start!!</P1>

    <img src="https://cdn1.iconfinder.com/data/icons/productivity-aesthetics-vol-2/256/To_Do_List-512.png">


    <link rel="stylesheet" href='static/css/style.css'>
    <a href="signup.html"><button>SIGN UP</button></a>
    <a href="signin.html"><button>LOG IN</button></a>
</center>


    
</body>
</html>