<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form method="POST" action="../app.py">
        <h4>Create an account in TODO</h4>
        <label>Email address*</label>
        <input type="email" name="email" required>
        <label>Password*</label>
        <input type="password" name="password" minlength="6" required>
        <label>Username</label>
        <input type="text" name="username" required>
        <input type="submit" value="Sign Up">
    </form>
    <a href="signin.html"><button>Sign In</button></a>
</body>
</html>
