<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>My To-Do List</h1>
    <form method="POST" action="/todos">
        <input type="text" id="taskInput" placeholder="Title..." name="task" required>
        <input type="submit" value="Add Task">
    </form>
    <ul id="taskList">
        {% for i in tasks %}
            <li>
                <a href="/delete/{{i}}">
                    <button>{{ tasks[i]['task'] }}</button>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
